.mat-toolbar {
  display: flex;

  .left-side, .right-side {
    display: flex;
    flex: 1;
    align-items: center;

    &.left-side {
      a {
        color: white;
        text-decoration: none;
      }
    }

    &.right-side {
      justify-content: flex-end;
    }
  }
}
