<mat-toolbar color="primary">
  <div class="left-side">
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/']">
      <h1>Gilfoyle's Alert App</h1>
    </a>
  </div>

  <div class="right-side">
    <app-crypto-api-key [apiKey]="apiKey$ | async"></app-crypto-api-key>

    <button mat-button mat-icon-button>
      <mat-icon>help</mat-icon>
    </button>
  </div>
</mat-toolbar>
