<h2 mat-dialog-title>Edit an alert</h2>

<mat-dialog-content>
  <div class="errors">
    <ng-container *ngFor="let error of data.alert.errors" [ngSwitch]="error">
      <h5 *ngSwitchCase="alertErrors.MISSING_RINGTONE">
        Ringtone need to be redefined
      </h5>
    </ng-container>
  </div>

  <form [formGroup]="formGroup">
    <div class="field-wrapper">
      <mat-form-field>
        <input matInput placeholder="Exchange" formControlName="exchange">
      </mat-form-field>
    </div>

    <div class="field-wrapper">
      <mat-form-field>
        <input matInput placeholder="Pair" formControlName="pair">
      </mat-form-field>
    </div>

    <div class="field-wrapper">
      <mat-form-field>
        <mat-label>Condition</mat-label>
        <mat-select formControlName="position" required>
          <mat-option *ngFor="let position of targetPositions" [value]="position.value">
            {{ position.name | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Price" type="number" formControlName="price" min="0" required/>
        <span matSuffix>{{ data.alert.pair.quoteCurrency }}&nbsp;</span>
      </mat-form-field>
    </div>

    <div class="field-wrapper">
      <mat-form-field>
        <mat-label>Persistence</mat-label>
        <mat-select formControlName="persistent" required>
          <mat-option *ngFor="let option of persistenceOptions" [value]="option">{{ option.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="field-wrapper">
      <mat-form-field>
        <mat-label>Select a ringtone</mat-label>
        <mat-select formControlName="ringtone" required>
          <mat-option *ngFor="let ringtone of ringtones" [value]="ringtone">{{ ringtone.name }}</mat-option>
          <mat-option *ngIf="ringtones.isEmpty()" disabled>No ringtones available</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button matTooltip="Add a new ringtone" (click)="openRingtoneCreationDialog()">
        <mat-icon>add_alert</mat-icon>
      </button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="delete-action">
    <button mat-button (click)="delete()" color="accent">Delete</button>
  </div>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="submit()" [color]="'primary'" [disabled]="!formGroup.valid">Edit</button>
</mat-dialog-actions>
