@import 'variables';

.mat-dialog-title {
  margin-bottom: 5px;
}

.mat-dialog-content {
  width: 400px;

  .errors {
    color: mat-color($app-warn, 600);

    h5 {
      margin: 0 0 5px;
    }
  }

  form {
    margin-top: 15px;

    .field-wrapper {
      display: flex;
      align-items: center;

      .mat-form-field, input {
        flex: 1;
      }
    }
  }
}

.mat-dialog-actions {
  margin-top: 20px;
  display: flex;

  .delete-action {
    flex: 1;
  }
}
