<h2 mat-dialog-title>New ringtone</h2>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" required>
    </mat-form-field>

    <input type="file" accept=".mp3" (change)="onFileInput($event)">
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="add()" [color]="'primary'" [disabled]="!formGroup.valid">Add</button>
</mat-dialog-actions>
