:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  h2 {
    margin: 0;
  }

  h3 {
    margin-bottom: .5em;
  }

  .mat-divider {
    margin-bottom: 2em;
  }
}

.mat-stepper-horizontal {
  .step-value {
    height: 20px;
  }

  .inner-container {
    padding: 5% 0;

    .field-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .mat-form-field {
        margin: 0 3mm;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .pagination {
    display: flex;

    .pagination-next {
      text-align: right;
      flex: 1;
    }
  }
}
