<div class="title">
  <h2>Create a new alert</h2>
  <h3>Be alerted of price fluctuation by configuring an alert with the ringtone of your choice</h3>
  <mat-divider></mat-divider>
</div>

<mat-horizontal-stepper #stepper labelPosition="bottom" [linear]="true">
  <mat-step [stepControl]="exchangeFormGroup">
    <form [formGroup]="exchangeFormGroup">
      <ng-template matStepLabel>
        Choose an exchange
        <div class="step-value">
          <strong *ngIf="exchangeFormGroup.controls['exchange'].value">{{ exchangeFormGroup.controls['exchange'].value.name }}</strong>
        </div>
      </ng-template>

      <div class="inner-container">
        <div class="field-wrapper">
          <h2>Obtain price data from</h2>
          <mat-form-field>
            <mat-label>Select an exchange</mat-label>
            <mat-select formControlName="exchange" required>
              <mat-option *ngFor="let exchange of exchanges" [value]="exchange">{{ exchange.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="pagination">
        <div class="pagination-next">
          <button mat-raised-button color="primary" matStepperNext [disabled]="!exchangeFormGroup.valid">Next</button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="pairFormGroup">
    <form [formGroup]="pairFormGroup">
      <ng-template matStepLabel>
        Choose a pair
        <div class="step-value">
          <strong *ngIf="pairFormGroup.controls['baseCurrency'].value && pairFormGroup.controls['quoteCurrency'].value">
            {{ pairFormGroup.controls['baseCurrency'].value }}/{{ pairFormGroup.controls['quoteCurrency'].value }}
          </strong>
        </div>
      </ng-template>

      <div class="inner-container">
        <div class="field-wrapper">
          <h2>Watch</h2>
          <mat-form-field>
            <mat-label>Select base currency</mat-label>
            <mat-select formControlName="baseCurrency" required>
              <mat-option *ngFor="let baseCurrency of baseCurrencies()" [value]="baseCurrency">{{ baseCurrency }}</mat-option>
            </mat-select>
          </mat-form-field>
          <h2>against</h2>
          <mat-form-field>
            <mat-label>Select quote currency</mat-label>
            <mat-select formControlName="quoteCurrency" required>
              <mat-option *ngFor="let quoteCurrency of quoteCurrencies()" [value]="quoteCurrency">{{ quoteCurrency }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="pagination">
        <div class="pagination-previous">
          <button mat-button matStepperPrevious>Previous</button>
        </div>
        <div class="pagination-next">
          <button mat-raised-button color="primary" matStepperNext [disabled]="!pairFormGroup.valid">Next</button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="targetFormGroup">
    <form [formGroup]="targetFormGroup">
      <ng-template matStepLabel>
        Choose when to be alerted
        <div class="step-value">
          <strong *ngIf="targetFormGroup.controls['position'].value && targetFormGroup.controls['price'].value">
            {{ targetFormGroup.controls['position'].value | titlecase }} {{ targetFormGroup.controls['price'].value }} {{ pairFormGroup.controls['quoteCurrency'].value }}
          </strong>
        </div>
      </ng-template>

      <div class="inner-container">
        <div class="field-wrapper">
          <h2>Trigger when price get</h2>
          <mat-form-field>
            <mat-label>Select condition</mat-label>
            <mat-select formControlName="position" required>
              <mat-option *ngFor="let position of targetPositions" [value]="position.value">{{ position.name | lowercase }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Select price" type="number" formControlName="price" min="0" required/>
            <span matSuffix>{{ pairFormGroup.controls['quoteCurrency'].value }}&nbsp;</span>
          </mat-form-field>
        </div>
      </div>

      <div class="pagination">
        <div class="pagination-previous">
          <button mat-button matStepperPrevious>Previous</button>
        </div>
        <div class="pagination-next">
          <button mat-raised-button color="primary" matStepperNext [disabled]="!targetFormGroup.valid">Next</button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="persistenceFormGroup">
    <form [formGroup]="persistenceFormGroup">
      <ng-template matStepLabel>
        Choose persistence
        <div class="step-value">
          <strong *ngIf="persistenceFormGroup.controls['persistent'].value">
            {{ persistenceFormGroup.controls['persistent'].value.name }}
          </strong>
        </div>
      </ng-template>

      <div class="inner-container">
        <div class="field-wrapper">
          <h2>Keep triggering</h2>
          <mat-form-field>
            <mat-label>Select persistence</mat-label>
            <mat-select formControlName="persistent" required>
              <mat-option *ngFor="let option of persistenceOptions" [value]="option">{{ option.name | lowercase }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="pagination">
        <div class="pagination-previous">
          <button mat-button matStepperPrevious>Previous</button>
        </div>
        <div class="pagination-next">
          <button mat-raised-button color="primary" matStepperNext [disabled]="!persistenceFormGroup.valid">Next</button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="ringtoneFormGroup">
    <form [formGroup]="ringtoneFormGroup">
      <ng-template matStepLabel>
        Choose a ringtone
        <div class="step-value">
          <strong *ngIf="ringtoneFormGroup.controls['ringtone'].value">
            {{ ringtoneFormGroup.controls['ringtone'].value.name }}
          </strong>
        </div>
      </ng-template>

      <div class="inner-container">
        <div class="field-wrapper">
          <h2>When triggered play</h2>
          <mat-form-field>
            <mat-label>Select a ringtone</mat-label>
            <mat-select formControlName="ringtone" required>
              <mat-option *ngFor="let ringtone of ringtones" [value]="ringtone">{{ ringtone.name }}</mat-option>
              <mat-option *ngIf="ringtones.isEmpty()" disabled>No ringtones available</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button matTooltip="Add a new ringtone" (click)="openRingtoneCreationDialog()">
            <mat-icon>add_alert</mat-icon>
          </button>
        </div>
      </div>

      <div class="pagination">
        <div class="pagination-previous">
          <button mat-button matStepperPrevious>Previous</button>
        </div>
        <div class="pagination-next">
          <button mat-raised-button color="primary" (click)="create()" [disabled]="!ringtoneFormGroup.valid">Create</button>
        </div>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>

