<form>
  <mat-form-field class="crypto-api-key-field" floatLabel="never" hideRequiredMarker>
    <input [formControl]="apiKeyField" matInput placeholder="CryptoCompare API key" required>
    <button mat-button matSuffix mat-icon-button [disabled]="!apiKeyField.valid" (click)="updateApiKey()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-form-field>
</form>
