@import '~@angular/material/theming';

$app-primary: mat-palette($mat-purple);
$app-accent:  mat-palette($mat-pink);
$app-warn: mat-palette($mat-red);
$app-green: mat-palette($mat-green);
$app-red: mat-palette($mat-red);
$app-orange: mat-palette($mat-deep-orange);
$app-yellow: mat-palette($mat-amber);
$app-light-blue: mat-palette($mat-light-blue);
$app-grey: mat-palette($mat-grey);
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
