@import 'theme';
@import 'variables';
@import 'mixins';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0 1000px mat-color($app-primary) inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  .error-snackbar {
    background-color: mat-color($app-red);
    color: white;
  }

  .success-snackbar {
    background-color: mat-color($app-green);
    color: white;
  }

  button {
    text-transform: uppercase;
  }
}
