<app-toolbar [apiKey$]="apiKey$"></app-toolbar>

<app-sidenav [opened]="sideNavOpened$ | async"
             [alerts]="alerts$ | async"
             [ringtones]="ringtones$ | async"
             [livePrices]="livePrices$ | async">
</app-sidenav>
