@import 'variables';
@import 'mixins';

:host {
  padding: 5px 5px 10px;

  .row {
    display: flex;
    align-items: center;

    &:first-child {
      align-items: flex-start;
    }

    &.current-price {
      padding-bottom: 6px;
    }

    .mat-icon {
      @include icon-size(20px);
    }

    .title {
      display: flex;
      align-items: center;
      flex: 1;
      margin-top: 10px;

      h3 {
        margin: 0;
      }

      .alert-error {
        color: mat-color($app-warn, 600);
      }
    }

    h4, h5 {
      margin: 0;
    }

    .controls {
      display: flex;
      align-items: center;

      .alert-status {
        color: mat-color($app-warn, 400);

        &.running {
          color: mat-color($app-green, 400);
        }
      }
    }

    .exchange-name {
      flex: 1;
    }
  }
}
