<div class="row">
  <div class="title">
    <h3>{{ alert.pair }}&nbsp;</h3>
    <mat-icon *ngIf="!alert.errors.isEmpty()" class="alert-error" matTooltip="Edit this alert to resolve errors">error</mat-icon>
  </div>
  <div class="controls">
    <button (click)="edit()" matTooltip="Edit this alert" mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
    <button *ngIf="!alert.enabled"
            [disabled]="!alert.errors.isEmpty()"
            [matTooltipDisabled]="!alert.errors.isEmpty()"
            (click)="toggle()"
            matTooltip="Enable this alert"
            mat-icon-button>
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button *ngIf="alert.enabled"
            (click)="toggle()"
            matTooltip="Disable this alert"
            mat-icon-button>
      <mat-icon>pause</mat-icon>
    </button>
  </div>
</div>
<div class="row current-price">
  <mat-icon>poll</mat-icon>&nbsp;<h4>{{ livePrice ? livePrice.price + ' ' + alert.pair.quoteCurrency : '-' }}</h4>
</div>
<div class="row">
  <h5 class="exchange-name">{{ alert.exchangeName }}</h5>
  <h5>{{ alert.target.position | titlecase }} {{ alert.target.price }} {{ alert.pair.quoteCurrency }}&nbsp;</h5>
  <mat-icon *ngIf="alert.persistent">repeat</mat-icon>
  <mat-icon *ngIf="!alert.persistent">repeat_one</mat-icon>
</div>
