<h3 class="alert-list-header">
  <mat-icon>alarm</mat-icon>
</h3>

<div *ngIf="alerts.isEmpty()" class="no-alerts">
  <mat-icon>alarm_off</mat-icon>
  <h3>There is no alerts yet</h3>
</div>

<app-alert-list-item *ngFor="let alert of alerts"
                     [alert]="alert"
                     [ringtones]="ringtones"
                     [livePrices]="livePrices">
</app-alert-list-item>
