@import 'variables';
@import 'mixins';

:host {
  display: flex;
  height: 100%;
  flex-direction: column;

  .alert-list-header, .alert-list-item {
    border-bottom: 1px solid mat-color($app-grey, 700);
  }

  .alert-list-header {
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 16px;
    color: mat-color($app-grey, 500);
  }

  .no-alerts {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: mat-color($app-grey, 500);

    .mat-icon {
      @include icon-size(30px);
    }

    h3 {
      font-weight: 500;
    }
  }
}
