<a class="crypto-compare-logo" href="https://www.cryptocompare.com" target="_blank">
  <img src="/assets/images/crypto-compare.png">
</a>

<app-alert-creation-form [exchanges]="exchanges$ | async"
                         [currentPrice]="currentPrice$ | async"
                         [ringtones]="ringtones$ | async">
</app-alert-creation-form>
