:host {
  flex: 1;
}

.mat-sidenav-container {
  display: flex;
  height: 100%;

  .mat-sidenav-content {
    display: flex;
    flex: 1;
    overflow: initial;
  }

  .mat-sidenav {
    min-width: 260px;
  }
}
