<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="opened">
    <app-alert-list [alerts]="alerts"
                    [ringtones]="ringtones"
                    [livePrices]="livePrices">
    </app-alert-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

